In [83]:
import pandas as pd
import numpy as np
import unicodecsv as csv

In [18]:
df = pd.read_csv('raw/largest2.csv')

In [3]:
df.drop(labels=["Unnamed: 0"], axis=1, inplace=True)

In [19]:
df

,Unnamed: 0,Rank,Company,Revenue ($B),F.Y.,Employees,Market cap. ($B),Headquarters,Founded,Industry,coord_lan,coord_lat
0,0,1,Amazon,386.06,2020,1298000.0,1668.00,Seattle,1994,Ecommerce,47.622455,-122.339474
1,1,2,Alphabet,182.53,2020,135301.0,1524.00,Mountain View,1998,Internet,35.752374,-81.700565
2,2,3,JD.com,114.97,2020,310000.0,115.96,Beijing,1998,Ecommerce,39.904211,116.407395
3,3,4,Meta,85.96,2020,58604.0,842.49,Menlo Park,2004,Social Media,37.485073,-122.148282
4,4,5,Tencent,74.31,2020,85858.0,763.11,Shenzhen,1998,Internet,22.538740,113.950995
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,96,Flexport,1.27,2020,2000.0,NaN,San Francisco,2013,Software freight forwarding,37.786529,-122.405385
97,97,97,LogMeIn,1.26,2019,3974.0,4.21,Boston,2003,Software,42.349005,-71.048229
98,98,98,Craigslist,1.00,2018,1000.0,NaN,San Francisco,1995,Classifieds,37.790032,-122.404488
99,99,99,Grab,1.00,2018,6000.0,NaN,Singapore,2012,Transportation,39.330348,-76.609577
100,100,100,Ultimate Software,1.00,2018,5000.0,NaN,"Weston, Florida",1993,Software,26.096513,-80.381287

In [6]:
df.to_csv("normalized/normalized.csv", index=False)

In [2]:
df = pd.read_csv('raw/largest_internet_company_coordinates.csv')

In [4]:
df.to_csv("normalized/normalized.csv", index=False)

In [5]:
import geocoder

In [32]:
g = geocoder.arcgis('City of Industry')
g.json

{'address': 'City of Industry, Texas',
 'bbox': {'northeast': [30.171490000000073, -96.29907999999999],
  'southwest': [29.771490000000075, -96.69908]},
 'confidence': 1,
 'lat': 29.971490000000074,
 'lng': -96.49907999999999,
 'ok': True,
 'quality': 'Locality',
 'raw': {'name': 'City of Industry, Texas',
  'extent': {'xmin': -96.69908,
   'ymin': 29.771490000000075,
   'xmax': -96.29907999999999,
   'ymax': 30.171490000000073},
  'feature': {'geometry': {'x': -96.49907999999999, 'y': 29.971490000000074},
   'attributes': {'Score': 100, 'Addr_Type': 'Locality'}}},
 'score': 100,
 'status': 'OK'}

In [73]:
df = pd.read_csv("raw/largest_co_coord_ind.csv")

In [74]:
df.rename(columns={'Revenue ($B)': 'Revenue', 'Market cap. ($B)': 'Market Capitalization'}, inplace=True)

In [75]:
df[df['Employees'].isna()]

,Rank,Company,Revenue,F.Y.,Employees,Market Capitalization,Headquarters,Founded,Industry,coord_lat,coord_lon,geoc_city,country,continent,industry_cat
14,15,Rakuten,13.48,2020,NaN,19.34,Tokyo,1997,Ecommerce,35.646572,139.653244,Setagaya,Japan,Asia,Ecommerce
17,18,NetEase,11.29,2020,NaN,74.61,Hangzhou,1997,Internet,30.274150,120.155150,Hangzhou,China,Asia,Internet
23,24,Kwai,9.05,2020,NaN,131.75,Beijing,2011,Social Media,39.904211,116.407395,Beijing,China,Asia,Social Media
42,43,Kakao,3.71,2020,NaN,46.02,Jeju City,2010,Internet,33.499621,126.531188,Jeju-si,South Korea,Asia,Internet
77,77,B2W,1.86,2020,NaN,6.90,Rio de Janeiro,2006,Ecommerce,-22.906847,-43.172897,Rio de Janeiro,Brazil,South America,Ecommerce
84,84,J2 Global,1.49,2020,NaN,5.43,"Los Angeles,",1995,Internet,34.052234,-118.243685,Los Angeles,United States,North America,Internet
90,90,Mail.Ru,1.33,2020,NaN,5.17,Moscow,1998,Internet,55.755826,37.617300,Moscow,Russia,Europe,Internet

In [76]:
df.at[14, "Employees"] = 23841
df.at[17, "Employees"] = 28239
df.at[23, "Employees"] = 21499
df.at[42, "Employees"] = 10644
df.at[77, "Employees"] = 156
df.at[84, "Employees"] = 4700
df.at[90, "Employees"] = 8842

In [77]:
# df[df['geoc_city'] == 'Galaxis']['geoc_city'] = 'Singapore'
df.loc[df['geoc_city'] == 'Galaxis', 'geoc_city'] = 'Singapore'

In [85]:
df[df['Headquarters'] == 'Singapore']

,Rank,Company,Revenue,F.Y.,Employees,Market Capitalization,Headquarters,Founded,Industry,coord_lat,coord_lon,geoc_city,country,continent,industry_cat,country_hu,industry_cat_hu,continent_hu
36,37,Sea Limited,4.38,2020,33800.0,128.07,Singapore,2009,Ecommerce,1.300041,103.788603,Singapore,Singapore,Asia,Ecommerce,Szingapúr,E-kereskedelem,Ázsia
99,99,Grab,1.00,2018,6000.0,NaN,Singapore,2012,Transportation,1.352083,103.819836,Singapore,Singapore,Asia,Transportation,Szingapúr,Szállítás,Ázsia

In [79]:
df.loc[df['Company'] == 'Yahoo!', 'Founded'] = 1994
df.loc[df['Company'] == 'Yahoo!']

,Rank,Company,Revenue,F.Y.,Employees,Market Capitalization,Headquarters,Founded,Industry,coord_lat,coord_lon,geoc_city,country,continent,industry_cat
26,27,Yahoo!,7.4,2020,10030.0,NaN,Sunnyvale,1994,Search engine,37.36883,-122.03635,Sunnyvale,United States,North America,Software

In [70]:
df.to_csv('normalized/normalized.csv', index=False)

In [80]:
df

,Rank,Company,Revenue,F.Y.,Employees,Market Capitalization,Headquarters,Founded,Industry,coord_lat,coord_lon,geoc_city,country,continent,industry_cat
0,1,Amazon,386.06,2020,1298000.0,1668.00,Seattle,1994,Ecommerce,47.606209,-122.332071,Seattle,United States,North America,Ecommerce
1,2,Alphabet,182.53,2020,135301.0,1524.00,Mountain View,1998,Internet,37.386052,-122.083851,Mountain View,United States,North America,Internet
2,3,JD.com,114.97,2020,310000.0,115.96,Beijing,1998,Ecommerce,39.904211,116.407395,Beijing,China,Asia,Ecommerce
3,4,Meta,85.96,2020,58604.0,842.49,Menlo Park,2004,Social Media,37.452960,-122.181725,Menlo Park,United States,North America,Social Media
4,5,Tencent,74.31,2020,85858.0,763.11,Shenzhen,1998,Internet,22.542860,114.059560,Shenzhen,China,Asia,Internet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,Flexport,1.27,2020,2000.0,NaN,San Francisco,2013,Software freight forwarding,37.774929,-122.419415,San Francisco,United States,North America,Transportation
97,97,LogMeIn,1.26,2019,3974.0,4.21,Boston,2003,Software,42.360082,-71.058880,Boston,United States,North America,Software
98,98,Craigslist,1.00,2018,1000.0,NaN,San Francisco,1995,Classifieds,37.774929,-122.419415,San Francisco,United States,North America,Ecommerce
99,99,Grab,1.00,2018,6000.0,NaN,Singapore,2012,Transportation,1.352083,103.819836,Singapore,Singapore,Asia,Transportation
100,100,Ultimate Software,1.00,2018,5000.0,NaN,"Weston, Florida",1993,Software,26.100365,-80.399775,Weston,United States,North America,Software

In [82]:
df['industry_cat'].value_counts()

Ecommerce             32
Software              18
Internet              13
Entertainment          8
Social Media           6
Travel                 6
Financial Services     4
Transportation         4
Real Estate            4
Delivery               3
Telecommunication      2
Education              1
Name: industry_cat, dtype: int64

In [84]:
df = pd.read_csv('raw/normalized_hu.csv')
df

,Rank,Company,Revenue,F.Y.,Employees,Market Capitalization,Headquarters,Founded,Industry,coord_lat,coord_lon,geoc_city,country,continent,industry_cat,country_hu,industry_cat_hu,continent_hu
0,1,Amazon,386.06,2020,1298000.0,1668.00,Seattle,1994,Ecommerce,47.606209,-122.332071,Seattle,United States,North America,Ecommerce,Amerikai Egyesült Államok,E-kereskedelem,Észak-Amerika
1,2,Alphabet,182.53,2020,135301.0,1524.00,Mountain View,1998,Internet,37.386052,-122.083851,Mountain View,United States,North America,Internet,Amerikai Egyesült Államok,Internet,Észak-Amerika
2,3,JD.com,114.97,2020,310000.0,115.96,Beijing,1998,Ecommerce,39.904211,116.407395,Beijing,China,Asia,Ecommerce,Kína,E-kereskedelem,Ázsia
3,4,Meta,85.96,2020,58604.0,842.49,Menlo Park,2004,Social Media,37.452960,-122.181725,Menlo Park,United States,North America,Social Media,Amerikai Egyesült Államok,Közösségi média,Észak-Amerika
4,5,Tencent,74.31,2020,85858.0,763.11,Shenzhen,1998,Internet,22.542860,114.059560,Shenzhen,China,Asia,Internet,Kína,Internet,Ázsia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,Flexport,1.27,2020,2000.0,NaN,San Francisco,2013,Software freight forwarding,37.774929,-122.419415,San Francisco,United States,North America,Transportation,Amerikai Egyesült Államok,Szállítás,Észak-Amerika
97,97,LogMeIn,1.26,2019,3974.0,4.21,Boston,2003,Software,42.360082,-71.058880,Boston,United States,North America,Software,Amerikai Egyesült Államok,Szoftver,Észak-Amerika
98,98,Craigslist,1.00,2018,1000.0,NaN,San Francisco,1995,Classifieds,37.774929,-122.419415,San Francisco,United States,North America,Ecommerce,Amerikai Egyesült Államok,E-kereskedelem,Észak-Amerika
99,99,Grab,1.00,2018,6000.0,NaN,Singapore,2012,Transportation,1.352083,103.819836,Singapore,Singapore,Asia,Transportation,Szingapúr,Szállítás,Ázsia
100,100,Ultimate Software,1.00,2018,5000.0,NaN,"Weston, Florida",1993,Software,26.100365,-80.399775,Weston,United States,North America,Software,Amerikai Egyesült Államok,Szoftver,Észak-Amerika

In [86]:
df.to_csv('normalized/normalized.csv', index=False)